# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# application properties and YAML files
application.properties
application.yml
application-dev.yml